attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fancycompleter==0.9.1
Flask==1.1.2
Flask-AutoIndex==0.6.6
Flask-Silk==0.2
future==0.18.2
giphypop==0.3
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.8
pdbpp==0.10.2
pluggy==0.13.1
py==1.10.0
pycryptodome==3.9.9
Pygments==2.7.3
pyparsing==2.4.7
pyrepl==0.9.0
pytest==6.2.1
python-magic==0.4.18
python-mpd2==3.0.1
requests==2.25.1
soupsieve==2.1
toml==0.10.2
urllib3==1.26.2
Werkzeug==1.0.1
wmctrl==0.3
youtube-dl==2021.1.3
