arrow
backports.functools-lru-cache
backports.shutil-get-terminal-size
beautifulsoup4
bs4
certifi
chardet
Click
colorama
decorator
enum34
feedparser
Flask
Flask-AutoIndex
Flask-Silk
future
giphypop
gunicorn
idna
ipdb
ipython
ipython-genutils
itsdangerous
Jinja2
MarkupSafe
mutagen
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycrypto
pyglet
Pygments
python-dateutil
python-magic
python-mpd2
requests
scandir
simplegeneric
six
soupsieve
traitlets
urllib3
wcwidth
Werkzeug==0.16.0
youtube-dl
