arrow==0.17.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.2.1
decorator==4.4.2
enum34==1.1.10
fancycompleter==0.9.1
feedparser==6.0.2
Flask==1.1.2
Flask-AutoIndex==0.6.6
Flask-Silk==0.2
future==0.18.2
giphypop==0.3
gunicorn==20.0.4
idna==2.10
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
MarkupSafe==1.1.1
mutagen==1.45.1
parso==0.8.0
pathlib2==2.3.5
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pycparser==2.20
pycryptodome==3.9.9
pyglet==1.5.8
Pygments==2.7.2
pyrepl==0.9.0
python-dateutil==2.8.1
python-magic==0.4.18
python-mpd2==1.1.0
requests==2.24.0
scandir==1.10.0
sgmllib3k==1.0.0
simplegeneric==0.8.1
six==1.15.0
soupsieve==2.0.1
traitlets==5.0.5
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==1.0.1
wmctrl==0.3
youtube-dl==2020.11.1.1
