
;;; base config

[mpd]
; if you set this to True, the backend will connect to mpd (localhost:6600) and update
; the music database after a completed download
use_mpd = False
host = localhost
port = 6600

music_dir_root = /var/lib/mpd/music


[download_dirs]
; note: the paths should not end with a trailing slash

base = /var/lib/mpd/music/downloads

songs = %(base)s/songs
albums = %(base)s/albums
zips = %(base)s/zips
playlists = %(base)s/playlists
youtubedl = %(base)s/youtube-dl


[debug]
command = journalctl -u deezer-downloader -n 100 --output cat


[http]
; if the service is deployed behind a proxy and mounted in a subdirectory,
; here you can configure the prefix, e.g.:
; url_prefix = /deezer
url_prefix = 

api_root = %(url_prefix)s
static_root = %(url_prefix)s/static


[threadpool]
; number of workers in thread pool, this specifies the maximum number of parallel downloads
workers = 2


;;; download sources

[deezer]
; insert your sid cookie value here
; (login manually using your web browser and take the sid cookie; begins with fr...)
sid = fre42682825153a4c1f9672fd0bab32ed9d63b7c

; run a query on deezer every N minutes to keep the session alive
keepalive = 30


[youtubedl]
# command = /home/kmille/projects/deezer-downloader/app/venv/bin/youtube-dl
command = /usr/bin/youtube-dl

