[Unit]
Description = Test Deezer login and let the session not run out by sending a request regularly
After = network.target

[Service]
User = deezer
Group = deezer
WorkingDirectory = /home/deezer/deezer-downloader/app
ExecStart = /home/deezer/deezer-downloader/venv/bin/python deezer/deezer_login.py test_login

[Install]
WantedBy = multi-user.target


