[Unit]
Description = Deezer downloader
After = network.target

[Service]
Environment=PYTHONUNBUFFERED=TRUE
User = deezer
Group = deezer
WorkingDirectory = /opt/deezer/app
ExecStart = /usr/bin/deezer-downloader --config /home/deezer/deezer-downloader.ini
PrivateTmp = false

[Install]
WantedBy = multi-user.target
