[Unit]
Description = Deezer downloader
After = network.target

[Service]
Environment=PYTHONUNBUFFERED=TRUE
User = deezer
Group = deezer
ExecStart=/home/deezer/.local/bin/deezer-downloader -c /home/deezer/.deezer-downloader.ini
PrivateTmp = false

[Install]
WantedBy = multi-user.target
