[Unit]
Description = Deezer downloader
After = network.target

[Service]
Environment=PYTHONUNBUFFERED=TRUE
User = deezer
Group = deezer
WorkingDirectory = /opt/deezer/app
ExecStart = /opt/deezer/app/venv/bin/gunicorn --bind 127.0.0.1:8081 app:app
PrivateTmp = false

[Install]
WantedBy = multi-user.target
