name: push to dockerhub

on:
  push:
    # run only if a tag is pushed
    branches:
      - "!*"
    tags:
      - '*'

jobs:
  path-context:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v1
        - name: Login to DockerHub Registry
          uses: docker/login-action@v2
          with:
            username : ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        - name: Get the version
          id: vars
          run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})

        - name: Build the tagged Docker image
          run: |
            cd deployment/docker
            docker build . --file Dockerfile --tag kmille2/deezer-downloader:${{steps.vars.outputs.tag}}
        - name: Push the tagged Docker image
          run: docker push kmille2/deezer-downloader:${{steps.vars.outputs.tag}}

        - name: Build the latest Docker image
          run: |
            cd docker
            docker build . --file Dockerfile --tag kmille2/deezer-downloader:latest
        - name: Push the latest Docker image
          run: docker push kmille2/deezer-downloader:latest
