name: tests

on:
  push:
    tags:
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.11', '3.12', '3.13', '3.14']
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      name: Set up Python ${{ matrix.python-version }}
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system dependencies with apt-get
      run: |
        sudo apt-get update && sudo apt-get install -y ffmpeg
    - name: Install python dependencies with pip
      run: |
        python -m pip install --upgrade pip
        pip install poetry yt-dlp
        poetry install
    - name: Lint with flake8
      run: |
        poetry run flake8 --count --select=E9,F63,F7,F82 --show-source --statistics
    - name: Test with pytest
      run: |
        poetry run deezer-downloader --show-config-template > settings.ini
        sed -i 's/^cookie_arl.*/cookie_arl = ${{ secrets.DEEZER_COOKIE_ARL }}/' settings.ini
        sed -i "s@^command.*@command = $(which yt-dlp)@" settings.ini
        DEEZER_DOWNLOADER_CONFIG_FILE=settings.ini poetry run pytest -v -s
